src/main/mule/targetCall.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2d05d78e-66f2-45a5-bcfa-b5cba4014909" >
		<http:listener-connection host="0.0.0.0" port="8989" />
	</http:listener-config>
	<flow name="uberApi" doc:id="f6456585-28ee-4f17-9931-d512f244861b" >
		<http:listener doc:name="Listener" doc:id="24f91a2a-263c-4d88-a8e9-7639f3be8c43" config-ref="HTTP_Listener_config" path="/v1/eats/eater/orders/{orderId}">
			<http:response statusCode="#[200]" />
		</http:listener>
		<ee:transform doc:name="Transform Message" doc:id="153cfc79-2272-43d1-983c-b5eea70d16df" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    "created_time": 1427343990,
    "order_id": "295a48ec-f73a-44b3-bf9a-84c8f33fc53a",
    "current_state": "CREATED",
    "external_reference_id": "1K4iOfgkaH",
    "store_id": "3f6d47fc-b7f7-49ed-b04a-68c61dfa0571",
    "fare": {
        "final_charges": {
            "total_items": {
                "value": 678,
                "currency_code": "USD",
                "formatted_price": "6.78"
            },
            "total_tax": {
                "value": 49,
                "currency_code": "USD",
                "formatted_price": "0.49"
            },
            "total_discount": {
                "value": 0,
                "currency_code": "USD",
                "formatted_price": "0.00"
            },
            "total_delivery_fee": {
                "value": 299,
                "currency_code": "USD",
                "formatted_price": "2.99"
            },
            "total": {
                "value": 1026,
                "currency_code": "USD",
                "formatted_price": "10.26"
            }
        }
    },
    "shopping_cart": {
        "created_time": 1427343990,
        "order_items": [
            {
                "item_id": "o366wypmsN",
                "title": "Burger",
                "external_data": "6115|6114",
                "price": {
                    "value": 499,
                    "currency_code": "USD",
                    "formatted_price": "4.99"
                },
                "quantity": 1,
                "selected_modifier_groups": [
                    {
                        "title": "Select a patty type",
                        "modifier_group_id": "ojwatGVuDa",
                        "external_data": "6116",
                        "selected_modifier_options": [
                            {
                                "title": "Beef",
                                "modifier_option_id": "glKdNwgre4",
                                "external_data": "1234",
                                "price": {
                                    "value": 199,
                                    "currency_code": "USD",
                                    "formatted_price": "1.99"
                                },
                                "quantity": 1,
                                "selected_modifier_groups": [
                                    {
                                        "title": "Select a doneness",
                                        "modifier_group_id": "41oGMVcUN8",
                                        "external_data": "abc",
                                        "selected_modifier_options": [
                                            {
                                                "title": "Rare",
                                                "modifier_option_id": "881bd236-74d2-452e-96a8-e0e49e5ad4de",
                                                "external_data": "def",
                                                "price": {
                                                    "value": 99,
                                                    "currency_code": "USD",
                                                    "formatted_price": "0.99"
                                                },
                                                "quantity": 1,
                                                "selected_modifier_groups": []
                                            }
                                        ]
                                    }
                                ]
                            }
                        ],
                        "selected_modifier_groups": [
                            {
                                "title": "More Patty Type",
                                "modifier_group_id": "jielf8Ybe",
                                "external_data": "9284",
                                "selected_modifier_options": [
                                    {
                                        "title": "Lamb",
                                        "modifier_option_id": "29l3jfr9s",
                                        "external_data": "9107",
                                        "price": {
                                            "value": 299,
                                            "currency_code": "USD",
                                            "formatted_price": "2.99"
                                        },
                                        "quantity": 1
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        ]
    }
}]]></ee:set-payload>
				<ee:set-attributes ><![CDATA[resultCode:200]]></ee:set-attributes>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="UberrefreshtokenFlow" doc:id="25b6a1bf-3baa-4501-8200-bc536f5a1570" >
		<http:listener doc:name="Listener" doc:id="1614efa3-974e-451a-ad12-899c97d2fd5d" config-ref="HTTP_Listener_config" path="/oauth2/v2/token"/>
		<ee:transform doc:name="Transform Message" doc:id="f7b89ae2-8af0-4aa4-a0c3-662505759fe0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{  
   "access_token":"JA.VUNmGAAAAAAAEgASAAAABwAIAAwAAAAAAAAAEgAAAAAAAAHQAAAAFAAAAAAADgAQAAQAAAAIAAwAAAAOAAAApAAAABwAAAAEAAAAEAAAAGDUPmQgGEgDfFx_-Uj_rLmAAAAAO0Z5elMbxjsW8kyo7A-AbIZpg95G6kEFRyIYtxaKpNX0cDQyZiZI5yy5SoBMtdITdWzuIcaT1zOf_jL1kNsdqFV7VjQ5bAttyeCgx8TEvivJcb17JRNudTY2EAY_3QQQZDDBqB34rbt_1Tb8O3diwEWvUVGmLdVY3_fn7i_7klsMAAAA6HWhPEG5lhGa2Be4JAAAAGIwZDg1ODAzLTM4YTAtNDJiMy04MDZlLTdhNGNmOGUxOTZlZQ",
   "token_type":"Bearer",
   "expires_in":2592000,
   "scope":"eats.enterprise"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
